*.iml
.gradle
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Configurações do Android Studio
/*.iml

# Arquivos Gradle
/.gradle/

# Arquivos de cache do sistema
*.log
*.tmp

# Arquivos de chave privada
*.keystore

# Arquivos de execução no Windows
*.bat
